
/* global style elements */

section {
  /* border-width: 30px;
  border: cadetblue;
  border-style: solid; */
}
header {
  /* border-width: 25px;
  border: black;
  border-style: solid; */
  font-size: 1.75em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px;
  margin-bottom: 40px;

}

body {
  display: flex;
  flex-direction: row;
}

button {
  height: 33px;
  width: 101px;
  border-radius: 10px;
  cursor: pointer;
}

h1 {
  color: #EBE9D7;
  margin: 22px;
}

h2 {
  padding: 14px;
}

/* Human and computer section elements */

.human-section,
.computer-section {
  height: 100vh;
  width: 275px;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/white2.jpg");
  align-items: center;
  flex-wrap: nowrap;
  /* background: rgb(31,30,30); */
  /* background: linear-gradient(0deg, rgba(31,30,30,1) 14%, rgba(48,48,48,1) 92%); */
}

.human-photo,
.computer-photo {
  padding: 7px;
  border-radius: 14px;
  height: 160px;
  width: 160px;
  margin-top: 14px;
  /* border-width: 25px;
  border: aqua;
  border-style: solid; */
}

.human-score-section,
.computer-score-section {
  /* border-width: 25px;
  border: pink;
  border-style: solid; */
  height: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}

.wins-tally {
  margin: 4px;
}

/* Home Page Specific Elements */

.main-section {
  height: 100vh;
  width: 100%;
  min-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:
  linear-gradient(0deg, rgba(17,17,17,0.76) 0%, rgba(48,48,48,0.04) 54%),
  url("./assets/blacktexture.jpg");
  border-radius: 10px;
}

.choose-game-area {
  /* border-width: 25px;
  border: blue;
  border-style: solid; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.game-choice-prompt {
  /* border-width: 25px;
  border: orange;
  border-style: solid; */
  margin: 44px;
  background: #1b1b1957;
  border-radius: 7px;
  color: #b75250;
  border-width: 1px;
  border-color: #120e0e73;
  border-style: solid;
}

.game-choices {
  display: flex;
  /* border-width: 25px;
  border: red;
  border-style: solid; */
  width: 100%;
  justify-content: space-evenly;

}


/* Game Page Elements */

.home-button {

}

.fight-button {
}

.play-game-area {
  /* border-width: 25px;
  border: red;
  border-style: solid; */
  display: flex;
  height: 675px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.fighter-display {
  /* border-width: 25px;
  border: blue;
  border-style: solid; */
  height: 675px;
  width: 187px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.rock-image,
.paper-image,
.scissors-image {
  height: 182px;
  width: 190px;
  cursor: pointer;
}

.scissors-image {
  margin-top: -50px;
}

.fighter-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-mark {
  /* border-width: 25px;
  border: blue;
  border-style: solid; */
  height: 283px;
  width: 201px;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  30% { transform: translate(3px, 2px) rotate(14deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
}

/* Hidden styles */

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}
